#block {
    width: 200px;
    height: 100px;
    background: green;

}
/* Выпадающее меню */
.menu-item {
    border:2px solid #66CDAA;
    display:inline-block;
    position: relative;
    cursor: pointer;
}

.menu-item .submenu {
    height: 40px;
    width: 120px;
    background: green;
    position: absolute;
    cursor: pointer;
}

/*TABS*/
h1 {
    margin-top: 50px;
}
#tabs .tab {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
    
}
#tabs .whiteborder {
    border: 1px solid #707070;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0;
}
#tabs .tabContent{
    width: 300px;
    height: 60px;
    border: 1px solid #707070;
    position: relative;
    top: -1px;
    z-index: 1;
    padding: 10px;
    border-radius: 0 0 3px 3px;
}
#tabs .hide{
    display: none;
}
#tabs .show{
    display: block;
}

/*MODAL WINDOW*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);

}
.modal-content{
    background-color:#fefefe;
    margin:15% auto;
    padding:20px;
    border:1px solid #888;
    width: 80%;

}

.close{
    color: #aaa;
    float:right;
    font-size:20px;
    font-weight: bold;
}
/*ANIMATION*/
#myContainer{
    width: 400px;
    height: 400px;
    position: relative;
    background:yellow;
}
#myAnimation{
    width:50px;
    height: 50px;
    position: absolute;
    background:red;
}


/*Carousel*/
.slideshow-container {
    max-width:1000px;
    position: relative;
    margin:auto;

}
.prev, .next {
    cursor:pointer;
    position:absolute;
    top:50%;
    width: auto;
    margin-top:-22px;
    padding: 16px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, next:hover {
    background-color:rgba(0,0,0,0.8);

}

.dot{
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin:0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, dot:hover{
    background-color:#717171;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity:.4;}
    to{opacity: 1;}
}

/*FILTER*/
#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 5px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUl{
    list-style: none;
    padding: 0;
    margin:0;
}
#myUl li a {
    border:1px solid #ddd;
    margin-top: -1px;
    background-color: #ff66ff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color:black;
    display: block;    
}
#myUl li a.header{
    background-color: #e2e2e2;
    cursor: default;
}
#myUl li a:hover:not(.header) {
    background-color:#eee;
}
